<a class="skip-link" href="#container">Skip to Page Contents</a>

<nav class="navbar">
    <a href="/" class="logo nav-item">
        <img class="logo-img" src="/assets/img/logo/black50px.png" alt="logo">
    </a>

    <ul id="menu" class="menu nav-item">
        <li class="menu-item mobile-specific close-option">
            <span id="menuNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
        </li>
        <li class="menu-item mobile-specific <%= activePage === 'home' ? 'current-page' : '' %>">
            <a href="/" class="menu-option">Home</a>
        </li>
        <li class="menu-item <%= activePage === 'about' ? 'current-page' : '' %>">
            <a href="/about" class="menu-option">About</a>
        </li>
        <li class="menu-item <%= activePage === 'portfolio' ? 'current-page' : '' %>">
            <a href="/portfolio" class="menu-option">Portfolio</a>
        </li>
        <li class="menu-item <%= activePage === 'resume' ? 'current-page' : '' %>">
            <a href="/resume" class="menu-option">Resume</a>
        </li>
        <li class="menu-item <%= activePage === 'blog' ? 'current-page' : '' %>">
            <a href="/blog" class="menu-option">Blog</a>
        </li>
        <li class="menu-item <%= activePage === 'contact' ? 'current-page' : '' %>">
            <a href="/contact" class="menu-option">Contact</a>
        </li>
    </ul>

    <div class="mobile-menu-button nav-item">
        <span id="pageNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
    </div>

</nav>
