<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="keywords" content="Vijay Kumar Varma Ganaraju, Vijay Ganaraju, new blogs" />
    <meta name="description"
        content="A blog page for creating a new blog or edit the old one." />


    <title>Blog Creator/Editor</title>

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/logo/black_bgw_192.png">
    <link rel="icon" href="/assets/img/logo/White30.png" type="image/x-icon">

    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/blog-template.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <%- include('partials/header') %>

    <main id="container" class="container limit-page">
        <header class="nav-top small-frc">
            <h1 class="page-title"></h1>
        </header>
        <section>
            <form action="/blog<% if(pageMode === 'edit') { %><%= '?_method=PUT' %><% } else if( pageMode === 'delete') { %><%= '?_method=DELETE' %><% } %>" class="fcc" method="POST">
                <% if(pageMode != 'new') { %>
                    <input type="text" name="blogId" id="blogId" value="<%= blog._id %>" style="display:none">
                <% } %>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<%= blog.title %>" required>
                <label for="subject">Subject</label>
                <input type="text" name="subject" id="subject" value="<%= blog.subject %>" required>
                <label for="tags">Tags</label>
                <input type="text" name="tags" id="tags" value="<%= blog.tags %>" required>
                <label for="markdown">Markdown</label>
                <textarea name="markdown" id="markdown" rows="30" required><%= blog.markdown %></textarea>
                <label for="username">User</label>
                <input type="text" name="username" id="username" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <div class="common-button-div">
                    <input type="submit" value="Submit" class="common-button">
                </div>

            </form>
        </section>

    </main>

    <%- include('partials/footer') %>

    <!-- scripts -->
    <script src="/assets/scripts/common.js"></script>

</body>

</html>
