<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000" />
    <meta name="keywords" content="Vijay Kumar Varma Ganaraju, Vijay Ganaraju, blogs, thoughts, opinions, updates" />
    <meta name="description"
        content="A blog page of Vijay Ganaraju about his thoughts, opions, findings, information, updates etc." />

    <title>Blogs with <%= property_value %></title>

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/assets/img/logo/black_bgw_192.png">
    <link rel="icon" href="/assets/img/logo/White30.png" type="image/x-icon">

    <link rel="stylesheet" href="/assets/styles/common.css">
    <link rel="stylesheet" href="/assets/styles/blog.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <a class="skip-link" href="#container">Skip to Page Contents</a>

    <nav class="navbar">
        <a href="/" class="logo nav-item">
            <img class="logo-img" src="/assets/img/logo/black50px.png" alt="logo">
        </a>

        <ul id="menu" class="menu nav-item">
            <li class="menu-item mobile-specific close-option">
                <span id="menuNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
            </li>
            <li class="menu-item mobile-specific">
                <a href="/" class="menu-option">Home</a>
            </li>
            <li class="menu-item">
                <a href="/about" class="menu-option">About</a>
            </li>
            <li class="menu-item">
                <a href="/portifolio" class="menu-option">Portifolio</a>
            </li>
            <li class="menu-item">
                <a href="/resume" class="menu-option">Resume</a>
            </li>
            <li class="menu-item current-page">
                <a href="/blog" class="menu-option">Blog</a>
            </li>
            <li class="menu-item">
                <a href="/contact" class="menu-option">Contact</a>
            </li>
        </ul>

        <div class="mobile-menu-button nav-item">
            <span id="pageNavButton" onclick="viewMenu()" class="material-icons nav-button">menu</span>
        </div>

    </nav>

    <main id="container" class="container limit-page">
        <header class="nav-top small-frc">
            <h1 class="page-title">Blogs with "<%= property_value %>" as a <%= property %></h1>
        </header>
        <section class="blogs-div">
            <% blogs.forEach(blog => {  %>
            <div class="blog-preview">
                <h2 class="heading"><%= blog.title %></h2>
                <p class="datetime"><%= blog.datetime.toLocaleString('en-US', dateOptions) %></p>
                <p class="subject"><%= blog.subject %></p>
                <div class="tags-div">
                    <% blog.tags.forEach(tag => { %>
                    <a href="/blog/tag/<%= tag %>" class="tag"><%= tag %></a>
                    <% }); %>
                </div>
                <div class="read-more-div">
                    <a class="read-more" href="/blog/<%= blog.slug %>">Read more <img
                            src="/assets/img/icons/blog/trending_flat.png" alt="Goto"></a>
                </div>
            </div>
            <% }); %>
        </section>
    
    </main>


    <footer class="footer fcc">
        <ul class="ftr-menu">
            <li class="ftr-menu-item">
                <a href="/about" class="ftr-menu-option">About</a>
            </li>
            <li class="ftr-menu-item">
                <a href="/portifolio" class="ftr-menu-option">Portifolio</a>
            </li>
            <li class="ftr-menu-item">
                <a href="/resume" class="ftr-menu-option">Resume</a>
            </li>
            <li class="ftr-menu-item">
                <a href="/blog" class="ftr-menu-option">Blog</a>
            </li>
            <li class="ftr-menu-item">
                <a href="/contact" class="ftr-menu-option">Contact</a>
            </li>
        </ul>

        <div class="sm-icon-div">
            <a href="https://www.linkedin.com/in/vijay-ganaraju-2a0982126/" target="_blank"
                rel="noopener noreferrer"><img class="sm-icon" href="#" src="/assets/img/icons/social/li.png"
                    alt="linkedin-icon"></a>

            <a href="https://discord.gg/C4HSFYN" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                    src="/assets/img/icons/social/discord.png" alt="discord-icon"></a>

            <a href="https://twitter.com/vijaykvganaraju" target="_blank" rel="noopener noreferrer"><img class="sm-icon"
                    src="/assets/img/icons/social/twitter.png" alt="twitter-icon"></a>

            <a href="https://www.youtube.com/user/Tejaswi88" target="_blank" rel="noopener noreferrer"><img
                    class="sm-icon" src="/assets/img/icons/social/yt.png" alt="youtube-icon"></a>

            <a href="mailto:a@a.com"><img class="sm-icon" src="/assets/img/icons/social/email.png" alt="email"></a>
        </div>

        <div class="owner-info">&copy; Owned and maintained by Vijay Kumar Varma Ganaraju</div>
    </footer>

    <!-- scripts -->
    <script src="/assets/scripts/common.js"></script>
    <script src="/assets/scripts/blog.js"></script>

</body>

</html>